/* ADD YOUR STYLES HERE */

.signup {
	width: 500px;
	text-align:right;
}
.signup-label {
	margin: 15px 0px 15px 5px;
	width: 60%;
	border-radius: 5px;
	border: 1px solid lightgrey;
}
.signup-city {
	margin: 15px 10px 15px 5px;
	width: 43%;
	border-radius: 5px;
	border: 1px solid lightgrey;
}
.signup-state {
	margin: 15px 0px 15px 5px;
	width: 5%;
	border: 1px solid lightgrey;
	border-radius: 5px;

}
.checkbox {
	padding-left:150px;
}
.submit {
	margin-left: 150px;
	margin-top: 15px;
	width: 300px;
}
.submit-in {
	width: 300px;
	background-color:lightgray;
	border-radius: 5px;
}
body {
	font-size: 14px;
	font-family: sans-serif;
	box-sizing: border-box;
}

.forms{
	width:600px;
	box-sizing: border-box;
}
.form-val {
	width:20%;
	display: inline-block;
}
.form-inputtwo{
	margin: 15px 10px 15px 0px;
	width: 43%;
	border-radius: 5px;
	border: 1px solid lightgrey;
}
.form-inputone{
	margin: 15px 10px 15px 0px;
	width: 43%;
	border-radius: 5px;
	border: 3px groove lightgreen;
}
.form-inputthree{
	margin: 15px 10px 15px 0px;
	width: 43%;
	border-radius: 5px;
	border: 3px groove pink;
}

.form-spanone {
	width:15%;
	color:green;
}
.form-spantwo {
	width:15%;
	color:red;
}
.search {
	width: 700px;
	padding:20px;
	margin:0;
	background-color: lightgrey;
	height: 30px;
	border-radius: 20px;
	position: relative;
}
.search-left{
	position: absolute;
	width: 80px;
	height:65%;
	font-size: 15px;
}
.search-middle {
	margin-left: 50px;
	width:80%;
	height: 65%;
	borde
}
.search-right {
	position:absolute;
	right:10%;
	bottom:45%;

}